In [17]:
%matplotlib inline

import numpy as np
import pandas as pd # Data frames
import matplotlib.pyplot as plt # Visuals
import seaborn as sns 
sns.set()
import csv
import re
from sklearn.model_selection import train_test_split # Create training and test sets
from sklearn.tree import DecisionTreeClassifier # Decision Trees
from sklearn import tree 
from sklearn.ensemble import RandomForestClassifier # Random Forest
from sklearn import svm #SVM
from sklearn.metrics import roc_curve # ROC Curves
from sklearn.model_selection import cross_val_score  #cross validation 
from sklearn.metrics import precision_score, recall_score, f1_score
import pywt
from sklearn.metrics import mean_squared_error
import plotly.offline as py
from scipy import signal
import time
from scipy.signal import butter, filtfilt
py.init_notebook_mode(connected=True)
plt.style.use('ggplot')

In [3]:
import os

In [4]:
root = os.getcwd()
root

'/home/bench-user/data/mt/EMG/EMG-Signal-Classification/Src/Feature_extraction'

In [8]:
preprocessed_file_dir = root + "/../Preprocessing/preprocessed_data.csv"
final_df = pd.read_csv(preprocessed_file_dir, index_col = 0)
final_df

,seconds,data1,data2,data3,data4,data5,data6,data7,data8,class
0,0.002,0.000613,0.001049,0.004225,0.012485,0.000468,0.001777,0.001689,0.001366,1
1,0.004,0.956846,0.011618,0.030003,0.111844,0.025706,0.010426,0.010897,0.007328,1
2,0.006,0.908362,0.012043,0.085393,0.255010,0.048960,0.022870,0.028841,0.015893,1
3,0.008,0.844041,0.007302,0.117927,0.282160,0.067376,0.033753,0.035809,0.022016,1
4,0.010,0.788621,0.007005,0.109755,0.103721,0.021477,0.018514,0.021000,0.010505,1
...,...,...,...,...,...,...,...,...,...,...
378849,123.752,0.001732,0.022693,0.005357,0.216207,0.001613,0.003076,0.000859,0.000244,6
378850,123.754,0.002075,0.012682,0.006859,0.147129,0.005849,0.000275,0.000023,0.002928,6
378851,123.756,0.005819,0.011530,0.017442,0.034576,0.007424,0.000576,0.001746,0.001596,6
378852,123.758,0.002923,0.007873,0.015670,0.014390,0.010850,0.001370,0.000190,0.001828,6
378853,123.760,0.001015,0.000953,0.003499,0.003175,0.001240,0.000257,0.000484,0.000275,6

In [9]:
# Perform grouping based on the 'class' column
grouped = final_df.groupby('class')
print(grouped)
# Create an empty dictionary to store the separate dataframes for each class
class_dataframes = {}

# Iterate over each group (class) and create a separate dataframe
for class_label, group_df in grouped:
    class_dataframes[class_label] = group_df.copy()

# Access the separate dataframes for each class using the class label as the key
class_1_dataframe = class_dataframes[1]
class_1_dataframe = class_1_dataframe.loc[ : , :]
class_1_dataframe['class'] = 1

class_2_dataframe = class_dataframes[2]
class_2_dataframe = class_2_dataframe.loc[ : , :]
class_2_dataframe['class'] = 2

class_3_dataframe = class_dataframes[3]
class_3_dataframe = class_3_dataframe.loc[ : , :]
class_3_dataframe['class'] = 3

class_4_dataframe = class_dataframes[4]
class_4_dataframe = class_4_dataframe.loc[ : , :]
class_4_dataframe['class'] = 4

class_5_dataframe = class_dataframes[5]
class_5_dataframe = class_5_dataframe.loc[ : , :]
class_5_dataframe['class'] = 5

class_6_dataframe = class_dataframes[6]
class_6_dataframe = class_6_dataframe.loc[ : , :]
class_6_dataframe['class'] = 6

# Example: Printing the separate dataframes
print("Dataframe for Class 1:")
print(class_1_dataframe)
print()

print("Dataframe for Class 2:")
print(class_2_dataframe)
print()

print("Dataframe for Class 3:")
print(class_3_dataframe)

print("Dataframe for Class 6:")
print(class_6_dataframe)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f5afdbd25c0>
Dataframe for Class 1:
       seconds     data1     data2     data3     data4     data5     data6  \
0        0.002  0.000613  0.001049  0.004225  0.012485  0.000468  0.001777
1        0.004  0.956846  0.011618  0.030003  0.111844  0.025706  0.010426
2        0.006  0.908362  0.012043  0.085393  0.255010  0.048960  0.022870
3        0.008  0.844041  0.007302  0.117927  0.282160  0.067376  0.033753
4        0.010  0.788621  0.007005  0.109755  0.103721  0.021477  0.018514
...        ...       ...       ...       ...       ...       ...       ...
63760  127.522  0.022490  0.006615  0.059849  0.209969  0.036144  0.006052
63761  127.524  0.107816  0.013601  0.091302  0.248998  0.058166  0.012221
63762  127.526  0.056304  0.003236  0.040680  0.142767  0.033818  0.008498
63763  127.528  0.124491  0.000522  0.023569  0.150122  0.015237  0.002870
63764  127.530  0.074360  0.001401  0.055548  0.217824  0.045211  0.007042

          data7     data8  class
0      0.001689  0.001366      1
1      0.010897  0.007328      1
2      0.028841  0.015893      1
3      0.035809  0.022016      1
4      0.021000  0.010505      1
...         ...       ...    ...
63760  0.223875  0.002967      1
63761  0.294168  0.001281      1
63762  0.254368  0.005517      1
63763  0.290258  0.006287      1
63764  0.226557  0.000646      1

[63765 rows x 10 columns]

Dataframe for Class 2:
        seconds     data1     data2     data3     data4     data5     data6  \
63765     0.002  0.870032  0.009156  0.000424  0.080575  0.000668  0.000380
63766     0.004  0.053182  0.000053  0.024626  0.117015  0.013230  0.000311
63767     0.006  0.130564  0.003869  0.007458  0.049108  0.000276  0.006177
63768     0.008  0.067090  0.000519  0.003912  0.018857  0.039852  0.002266
63769     0.010  0.087623  0.012400  0.011465  0.105154  0.021242  0.003536
...         ...       ...       ...       ...       ...       ...       ...
128551  129.574  0.031232  0.013354  0.026084  0.090540  0.014241  0.001054
128552  129.576  0.097099  0.009287  0.001259  0.043853  0.004435  0.003344
128553  129.578  0.070564  0.000247  0.021983  0.114038  0.015969  0.000952
128554  129.580  0.121163  0.009707  0.028372  0.095609  0.023625  0.002030
128555  129.582  0.074814  0.001660  0.036728  0.051658  0.017133  0.000795

           data7     data8  class
63765   0.255275  0.010443      2
63766   0.294327  0.020167      2
63767   0.223470  0.019836      2
63768   0.253793  0.003841      2
63769   0.195571  0.011032      2
...          ...       ...    ...
128551  0.007999  0.005108      2
128552  0.000164  0.000854      2
128553  0.004870  0.001847      2
128554  0.006408  0.001292      2
128555  0.006580  0.003154      2

[64791 rows x 10 columns]

Dataframe for Class 3:
        seconds     data1     data2     data3     data4     data5     data6  \
128556    0.002  0.904294  0.004734  0.000639  0.027227  0.012451  0.002497
128557    0.004  0.063778  0.001145  0.023863  0.092245  0.029925  0.001121
128558    0.006  0.144341  0.009847  0.035049  0.109383  0.006615  0.000890
128559    0.008  0.051240  0.007097  0.033836  0.053452  0.042811  0.000960
128560    0.010  0.108847  0.006098  0.005691  0.073546  0.001791  0.001008
...         ...       ...       ...       ...       ...       ...       ...
192393  127.676  0.025861  0.009308  0.023985  0.110853  0.069257  0.005943
192394  127.678  0.015843  0.000474  0.005556  0.095367  0.107372  0.010434
192395  127.680  0.010439  0.026433  0.013338  0.004319  0.034559  0.008394
192396  127.682  0.032319  0.003263  0.010551  0.131024  0.002907  0.002148
192397  127.684  0.029201  0.002511  0.014096  0.153625  0.073061  0.003433

           data7     data8  class
128556  0.000084  0.001779      3
128557  0.008268  0.001174      3
128558  0.011443  0.001422      3
128559  0.009930  0.001809      3
128560  0.004746  0.005102      3
...          ...       ...    ...
192393  0.006349  0.025107      3
192394  0.007043  0.007510      3
192395  0.000541  0.037288      3
192396  0.009819  0.002606      3
192397  0.013059  0.009949      3

[63842 rows x 10 columns]
Dataframe for Class 6:
        seconds     data1     data2     data3     data4     data5     data6  \
316974    0.002  0.908232  0.007243  0.012868  0.121268  0.000193  0.580428
316975    0.004  0.164480  0.011253  0.005599  0.000693  0.000911  0.415827
316976    0.006  0.054149  0.002831  0.002593  0.139424  0.000078  0.630213
316977    0.008  0.087478  0.012679  0.004230  0.126719  0.002673  0.516889
316978    0.010  0.084095  0.012710  0.009453  0.115855  0.001756  0.518879
...         ...       ...       ...       ...       ...       ...       ...
378849  123.752  0.001732  0.022693  0.005357  0.216207  0.001613  0.003076
378850  123.754  0.002075  0.012682  0.006859  0.147129  0.005849  0.000275
378851  123.756  0.005819  0.011530  0.017442  0.034576  0.007424  0.000576
378852  123.758  0.002923  0.007873  0.015670  0.014390  0.010850  0.001370
378853  123.760  0.001015  0.000953  0.003499  0.003175  0.001240  0.000257

           data7     data8  class
316974  0.004715  0.010531      6
316975  0.064882  0.014397      6
316976  0.013736  0.002871      6
316977  0.064634  0.006293      6
316978  0.020221  0.007722      6
...          ...       ...    ...
378849  0.000859  0.000244      6
378850  0.000023  0.002928      6
378851  0.001746  0.001596      6
378852  0.000190  0.001828      6
378853  0.000484  0.000275      6

[61880 rows x 10 columns]

In [10]:
#calculating approximation coefficients by dwt
def coeffs(df, wavelet = 'sym4', level = 10):
    data = df.columns.tolist()
    data = data[1:-1]
    #print(data)
    
    approx_df = pd.DataFrame(columns = data)
    details_df = pd.DataFrame(columns = data)
    # Iterate over the columns in the dataframe
    for column in data:
        # Perform DWT on the column data
        coeffs = pywt.wavedec(df[column], wavelet, level = level)
        
        # Extract the approximation coefficients
        approx_coeffs = coeffs[0]
        details_coeffs = coeffs[1]
        
        for j in range(1, len(approx_coeffs)+1):
            approx_df[column] = approx_coeffs
            details_df[column] = details_coeffs
        approx_df['class'] = df['class'].values[0]
        details_df['class'] = df['class'].values[1]
    return approx_df, details_df


df_class1_approx = coeffs(class_1_dataframe)[0]
df_class2_approx = coeffs(class_2_dataframe)[0]
df_class3_approx = coeffs(class_3_dataframe)[0]
df_class4_approx = coeffs(class_4_dataframe)[0]
df_class5_approx = coeffs(class_5_dataframe)[0]
df_class6_approx = coeffs(class_6_dataframe)[0]
df_class1_details = coeffs(class_1_dataframe)[1]
df_class2_details = coeffs(class_2_dataframe)[1]
df_class3_details = coeffs(class_3_dataframe)[1]
df_class4_details = coeffs(class_4_dataframe)[1]
df_class5_details = coeffs(class_5_dataframe)[1]
df_class6_details = coeffs(class_6_dataframe)[1]

print(df_class1_approx)
print(df_class6_approx)
print(df_class1_details)
print(df_class6_details)

        data1     data2     data3     data4     data5     data6     data7  \
0   17.261028  0.233085  1.054185  3.289182  0.646551  0.323208  0.362880
1   18.791972  0.218241  1.004792  3.160344  0.636965  0.303699  0.341973
2    7.517735  0.359031  1.352812  4.142039  0.830080  0.440532  0.506595
3    0.037226  0.453570  1.555651  4.728338  1.127243  0.557710  0.619816
4    0.467514  0.553521  1.653131  4.737151  1.136429  0.603048  0.651832
..        ...       ...       ...       ...       ...       ...       ...
64   0.860980  0.236461  1.591395  5.342091  1.162057  0.251440  2.982567
65   2.471000  0.156754  1.663165  5.985884  1.201232  0.231868  7.714176
66   2.543029  0.154824  1.661516  6.018080  1.202942  0.232809  7.918738
67   2.508153  0.155495  1.662951  5.992689  1.200496  0.231864  7.821042
68   1.844014  0.189508  1.606235  5.669686  1.171225  0.236168  5.863937

       data8  class
0   0.222239      1
1   0.212599      1
2   0.299962      1
3   0.365921      1
4   0.398648      1
..       ...    ...
64  0.105011      1
65  0.104146      1
66  0.104909      1
67  0.104090      1
68  0.104683      1

[69 rows x 9 columns]
        data1     data2     data3     data4     data5      data6     data7  \
0   13.709011  0.321699  0.287872  2.656584  0.113902  17.728081  0.980568
1   14.944988  0.258114  0.245835  2.554212 -0.009153  18.514258  1.037800
2    5.903525  0.338198  0.287323  2.869926  0.218822   9.924742  0.505404
3    0.067308  0.608171  0.542030  3.474840  1.022424  -0.286175  0.103540
4    0.378012  0.555299  0.455102  3.395079  0.927819   0.453158  0.186188
..        ...       ...       ...       ...       ...        ...       ...
62   0.153274  0.475463  0.523959  2.569312  0.424167   0.154487  0.396791
63   0.076447  0.312237  0.342409  2.096912  0.202307   0.025613 -0.019038
64   0.079854  0.303897  0.343658  2.109003  0.179577   0.026284  0.005412
65   0.057217  0.282835  0.305431  2.049546  0.174430   0.008542 -0.099689
66   0.142829  0.293631  0.374111  2.299580  0.133191   0.069670  0.344780

       data8  class
0   0.335931      6
1   0.337077      6
2   0.224549      6
3   0.124963      6
4   0.242982      6
..       ...    ...
62  0.209755      6
63  0.032626      6
64  0.042748      6
65  0.000454      6
66  0.164424      6

[67 rows x 9 columns]
       data1     data2     data3     data4     data5     data6     data7  \
0   0.164943  0.015430 -0.015349  0.003874  0.060776 -0.004287  0.002283
1   1.842919 -0.024312 -0.056926 -0.160992 -0.044153 -0.022793 -0.027864
2  -3.633729  0.042802  0.114571  0.313462  0.058351  0.044255  0.053052
3   2.335190 -0.050478 -0.072922 -0.246163 -0.085739 -0.021221 -0.039627
4  -0.345777  0.032887  0.007968  0.001838 -0.008595  0.016205  0.014178
..       ...       ...       ...       ...       ...       ...       ...
64  0.153560 -0.015885 -0.060650 -0.062652 -0.026919 -0.018085  0.467349
65 -0.684623  0.033840 -0.050835 -0.332475 -0.029049  0.005453 -2.013941
66  0.182387 -0.008038  0.009170  0.088952  0.007644 -0.000716  0.532816
67 -0.007397 -0.000023  0.000964 -0.007070 -0.000809 -0.000352 -0.020103
68 -0.072463  0.003932 -0.008475 -0.048149 -0.006012 -0.000098 -0.214323

       data8  class
0   0.006516      1
1  -0.015317      1
2   0.027629      1
3  -0.024919      1
4   0.019372      1
..       ...    ...
64  0.000829      1
65  0.000163      1
66  0.000552      1
67 -0.000326      1
68 -0.000296      1

[69 rows x 9 columns]
       data1     data2     data3     data4     data5     data6     data7  \
0   0.241589 -0.162392 -0.107498 -0.184771 -0.271256 -2.885814 -0.025800
1   1.487527 -0.021538 -0.017334 -0.070622 -0.065177  1.244818  0.095292
2  -2.962083  0.044720  0.026850  0.127293  0.106860 -1.686027 -0.177956
3   1.773169  0.067952  0.044661  0.034805  0.104625  4.039443  0.116268
4  -0.371671 -0.813290 -0.656457 -1.023004 -1.583846 -0.919421 -0.147787
..       ...       ...       ...       ...       ...       ...       ...
62  0.031519 -0.003641  0.060502 -0.017151 -0.177090 -0.020215  0.124102
63 -0.023838 -0.015465 -0.010382  0.103192 -0.019699  0.001255 -0.046326
64  0.005656  0.010417  0.025211  0.024655 -0.002841  0.002481  0.025738
65 -0.007909 -0.010030 -0.018472 -0.030540 -0.003013 -0.006996 -0.038776
66  0.019148 -0.028457 -0.026072 -0.011638 -0.036612  0.003527  0.090702

       data8  class
0  -0.058821      6
1   0.017560      6
2  -0.023676      6
3   0.063010      6
4  -0.094720      6
..       ...    ...
62 -0.011365      6
63 -0.030086      6
64  0.009399      6
65 -0.014798      6
66  0.036062      6

[67 rows x 9 columns]

In [11]:
final_df_approx = pd.concat([df_class1_approx, df_class2_approx, df_class3_approx, df_class4_approx, df_class5_approx, df_class6_approx], ignore_index=True)
final_df_details = pd.concat([df_class1_details,df_class2_details,df_class3_details, df_class4_details, df_class5_details, df_class6_details], ignore_index=True)

# Print the combined DataFrame
final_df_approx

,data1,data2,data3,data4,data5,data6,data7,data8,class
0,17.261028,0.233085,1.054185,3.289182,0.646551,0.323208,0.362880,0.222239,1
1,18.791972,0.218241,1.004792,3.160344,0.636965,0.303699,0.341973,0.212599,1
2,7.517735,0.359031,1.352812,4.142039,0.830080,0.440532,0.506595,0.299962,1
3,0.037226,0.453570,1.555651,4.728338,1.127243,0.557710,0.619816,0.365921,1
4,0.467514,0.553521,1.653131,4.737151,1.136429,0.603048,0.651832,0.398648,1
...,...,...,...,...,...,...,...,...,...
405,0.153274,0.475463,0.523959,2.569312,0.424167,0.154487,0.396791,0.209755,6
406,0.076447,0.312237,0.342409,2.096912,0.202307,0.025613,-0.019038,0.032626,6
407,0.079854,0.303897,0.343658,2.109003,0.179577,0.026284,0.005412,0.042748,6
408,0.057217,0.282835,0.305431,2.049546,0.174430,0.008542,-0.099689,0.000454,6
409,0.142829,0.293631,0.374111,2.299580,0.133191,0.069670,0.344780,0.164424,6

In [12]:
final_df_approx.to_csv("approx_df.csv")